name = "adobe-commerce-api"
main = "dist/index.mjs"
compatibility_date = "2024-03-21"
account_id = "852dfa4ae1b0d579df29be65b986c101"
workers_dev = true
send_metrics = false

build = { command = "npm install && node build.js" }

kv_namespaces = [
  { binding = "KEYS", id = "0ca5d0ba0150453bb8aafcdf4304dc7a", preview_id = "0ca5d0ba0150453bb8aafcdf4304dc7a", remote = true }
]

[[r2_buckets]]
binding = "CATALOG_BUCKET"
preview_bucket_name = "helix-product-bus"
bucket_name = "helix-product-bus"
remote = true

[[r2_buckets]]
binding = "ORDERS_BUCKET"
preview_bucket_name = "helix-commerce-orders-dev"
bucket_name = "helix-commerce-orders-dev"
remote = true

[[r2_buckets]]
binding = "AUTH_BUCKET"
preview_bucket_name = "helix-commerce-auth-dev"
bucket_name = "helix-commerce-auth-dev"
remote = true

[[r2_buckets]]
binding = "CONFIGS_BUCKET"
preview_bucket_name = "helix-commerce-configs-dev"
bucket_name = "helix-commerce-configs-dev"
remote = true

[[queues.producers]]
queue = "helix-product-indexer-queue-dev"
binding = "INDEXER_QUEUE"

[[queues.producers]]
queue = "helix-product-image-collector-queue-dev"
binding = "IMAGE_COLLECTOR_QUEUE"

[vars]
VERSION = "@@VERSION@@-dev"
ENVIRONMENT = "dev"

[observability]
enabled = true
head_sampling_rate = 1

# ----------------------------------------------------------------------
# ci environment

[env.ci]
name = "adobe-commerce-api-ci"

kv_namespaces = [
  { binding = "KEYS", id = "0ca5d0ba0150453bb8aafcdf4304dc7a", preview_id = "0ca5d0ba0150453bb8aafcdf4304dc7a" }
]

[[env.ci.r2_buckets]]
binding = "CATALOG_BUCKET"
preview_bucket_name = "helix-product-bus"
bucket_name = "helix-product-bus"

[[env.ci.r2_buckets]]
binding = "ORDERS_BUCKET"
preview_bucket_name = "helix-commerce-orders-dev"
bucket_name = "helix-commerce-orders-dev"

[[env.ci.r2_buckets]]
binding = "AUTH_BUCKET"
preview_bucket_name = "helix-commerce-auth-dev"
bucket_name = "helix-commerce-auth-dev"

[[env.ci.r2_buckets]]
binding = "CONFIGS_BUCKET"
preview_bucket_name = "helix-commerce-configs-dev"
bucket_name = "helix-commerce-configs-dev"

[[env.ci.queues.producers]]
queue = "helix-product-indexer-queue-ci"
binding = "INDEXER_QUEUE"

[[env.ci.queues.producers]]
queue = "helix-product-image-collector-queue-ci"
binding = "IMAGE_COLLECTOR_QUEUE"

[env.ci.vars]
VERSION = "@@VERSION@@-ci"
ENVIRONMENT = "ci"

[env.ci.observability]
enabled = true
head_sampling_rate = 1

# ----------------------------------------------------------------------
# next environment

[env.next]
name = "adobe-commerce-api-next"

kv_namespaces = [
  { binding = "KEYS", id = "0ca5d0ba0150453bb8aafcdf4304dc7a", preview_id = "0ca5d0ba0150453bb8aafcdf4304dc7a" }
]

[[env.next.r2_buckets]]
binding = "CATALOG_BUCKET"
preview_bucket_name = "helix-product-bus"
bucket_name = "helix-product-bus"

[[env.next.r2_buckets]]
binding = "ORDERS_BUCKET"
preview_bucket_name = "helix-commerce-orders-dev"
bucket_name = "helix-commerce-orders"

[[env.next.r2_buckets]]
binding = "AUTH_BUCKET"
preview_bucket_name = "helix-commerce-auth-dev"
bucket_name = "helix-commerce-auth"

[[env.next.r2_buckets]]
binding = "CONFIGS_BUCKET"
preview_bucket_name = "helix-commerce-configs-dev"
bucket_name = "helix-commerce-configs"

[[env.next.queues.producers]]
queue = "helix-product-indexer-queue-next"
binding = "INDEXER_QUEUE"

[[env.next.queues.producers]]
queue = "helix-product-image-collector-queue-next"
binding = "IMAGE_COLLECTOR_QUEUE"

[env.next.vars]
VERSION = "@@VERSION@@-next"
ENVIRONMENT = "next"

[env.next.observability]
enabled = true
head_sampling_rate = 1

# ----------------------------------------------------------------------
# production environment

[env.production]
name = "adobe-commerce-api"

kv_namespaces = [
  { binding = "KEYS", id = "0ca5d0ba0150453bb8aafcdf4304dc7a", preview_id = "0ca5d0ba0150453bb8aafcdf4304dc7a" }
]

[[env.production.r2_buckets]]
binding = "CATALOG_BUCKET"
preview_bucket_name = "helix-product-bus"
bucket_name = "helix-product-bus"

[[env.production.r2_buckets]]
binding = "ORDERS_BUCKET"
preview_bucket_name = "helix-commerce-orders"
bucket_name = "helix-commerce-orders"

[[env.production.r2_buckets]]
binding = "AUTH_BUCKET"
preview_bucket_name = "helix-commerce-auth"
bucket_name = "helix-commerce-auth"

[[env.production.r2_buckets]]
binding = "CONFIGS_BUCKET"
preview_bucket_name = "helix-commerce-configs"
bucket_name = "helix-commerce-configs"

[[env.production.queues.producers]]
queue = "helix-product-indexer-queue"
binding = "INDEXER_QUEUE"

[[env.production.queues.producers]]
queue = "helix-product-image-collector-queue"
binding = "IMAGE_COLLECTOR_QUEUE"

[env.production.vars]
VERSION = "@@VERSION@@"
ENVIRONMENT = "prod"

[env.production.observability]
enabled = true
head_sampling_rate = 1

# [secrets]
# SUPERUSER_KEY
# OTP_SECRET
# JWT_SECRET
# RESEND_API_KEY